#modal {
	height: 360px;
	width: 360px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .2);
	border-top: none;
	border-radius: 5px;
	padding: 10px;
	padding-top: 0;
	font-family: arial;
	box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
}

.janelaPrincipal {
	display: none;
}

.janelaPrincipal.selecionado {
	display: block;
}

#nomeElemento {
	color: white;
	background: grey;
	display: block;
	margin: 0 -10px 0 -10px;
	width: 370px;
	height: 30px;
	line-height: 25px;
	padding: 5px;
	padding-top: 8px;
	border-bottom: 2px solid #04A4CC;
	font-weight: bold;
	font-size: 20px;
	border-radius: 4px 4px 0 0;
}

#nomeElemento input {
	margin-right: 5px;
	margin-top: -2px
}

.line {
	height: 25px;
	display: inline-block;
	width: 100%;
	margin-top: 3px;
}

.line:first-child {
	margin-top: 15px;
}

.line select,
.line input {
	float: right;
	width: 150px;
}

.line input {
	padding: 2px 0;
	text-align: center;
}

#confirmarCancelar {
	position: absolute;
	right: 10px;
	bottom: 10px;
	text-align: right;
}

#confirmarCancelar button {
	width: 70px;
	background: grey;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #04A4CC;
	color: white;
	padding: 1px;
}

#confirmarCancelar button#botaoCancelar {
	border-bottom: 2px solid red;
}

.attributeName {
	float: left;
}

.attributeOptions {
	float: right;
}

#relationship {
	text-align: justify;
}

#relationship:after {
	display: inline-block;
	width: 100%;
	height: 0;
	content: ' ';
}

.attribute select {
	height: 30%;
	width: 100%;
	position: absolute;
	margin: 10px 0;
	vertical-align: middle
}

.attribute select:last-child {
	bottom: 0;
}

.leftAttribute,
.rightAttribute,
.cardinality {
	width: 110px;
	display: inline-block;
	height: 100px;
	vertical-align: middle;
	position: relative;
}

.leftAttribute {
	float: left;
}

.rightAttribute {
	float: right;
}

.cardinality {
	line-height: 100px;
	width: 136px;
}

.cardinalityButtonHolder {
	line-height: inherit;
	text-align: center;
}

.cardinalities {
	display: none;
	position: absolute;
	left: -2px;
}

.cardinalitiesContent {
	width: 140px;
	background: white;
	z-index: 100;
	line-height: 0;
	border-radius: 3px;
}

.cardinalityOption,
#openCardinalities {
	width: 44px;
	padding: 0;
	background: grey;
	border: none;
	border-radius: 0;
	border-right: 2px solid #04A4CC;
	border-left: 2px solid #04A4CC;
	color: white;
}

.botaoDeletar {
	height: 15px;
	width: 15px;
	background: red;
	color: white;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	margin-left: 3px;
	padding: 2px;
}