
#canvasHolder {
	width: 79%;
	height: 100%;
	display: block;
	margin: auto;
}

#canvas {
	border: 1px solid black;
	background-color: white;
	background-image: linear-gradient(rgba(0,0,0,.2) 1px, transparent 1px),
	linear-gradient(90deg, rgba(0,0,0,.2) 1px, transparent 1px),
	linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
	linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 10px 10px, 10px 10px;
	background-position:-1px -1px, -1px -1px, -1px -1px, 0px 0px;
}

#paleta {
	border: 1px solid black;
	width: 20%;
	height: 500px;
	background-color: black;
	float:left;
}
#paleta div {
    color: white;
}
.entidade {
	background-color: white;
	width: 100%;
	height: 20px;
}
.entidade:before {
    color: black;
    content: "Nova entidade";
}
.relacionamento {
	background-color: red;
	width: 100%;
	height: 20px;
}
.relacionamento:before {
    color: white;
    content: "Novo relacionamento";
}
.atributo {
	background-color: blue;
	width: 100%;
	height: 20px;
}
.atributo:before {
    color: white;
    content: "Novo atributo";
}
.gerarSQL {
	background-color: green;
	width: 100%;
	height: 20px;
}

.gerarSQL:before{
    color: white;
    content: "Gerar SQL";
}